<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="km/model/SNSDAO">

	<select id="login" parameterType="km.model.UserVO" resultType="km.model.UserVO">
		select *
		from USER_INFO
		where email=#{email} and pw=#{pw}
	</select>
	
	<insert id="join" parameterType="km.model.UserVO">
		INSERT INTO USER_INFO(USER_ID,EMAIL,PW,NICKNAME,BRITHDAY)
		VALUES(USER_SEQ.nextval,#{email},#{pw},#{nickname},#{birthday})
	</insert>
	
	
	<insert id="write" parameterType="km.model.PostVO">
		INSERT INTO POST(POST_ID,TITLE,POST_CONTENTS,POSTING_DATE,USER_ID,KATEGORY)
		VALUES(POST_SEQ.nextval,#{title},#{post_contents},sysdate,1,#{kategory})
	</insert>
	
	<update id="info" parameterType="km.model.UserVO">
		UPDATE USER_INFO
		SET BRITHDAY=#{birthday},NICKNAME=#{nickname}
		WHERE USER_ID = 1
	</update>
	
	
	<select id="img" resultType="km.model.ImgVO">
		select *
		from POST_IMG
	</select>
	
	<select id="post1" resultType="km.model.PostVO">
		select *
		from POST
		where post_id = 1
	</select>
	<select id="post2" resultType="km.model.PostVO">
		select *
		from POST
		where post_id = 2
	</select>
	<select id="post3" resultType="km.model.PostVO">
		select *
		from POST
		where post_id = 3
	</select>
	<select id="post4" resultType="km.model.PostVO">
		select *
		from POST
		where post_id = 4
	</select>
	
	<select id="qna" resultType="km.model.PostVO">
		select *
		from POST
		where kategory = 'question'
		ORDER BY post_id
	</select>




</mapper>