<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="km/model/MemberDAO">
	
	<insert id="join" parameterType="km.model.MemberVO">
		INSERT INTO USER_INFO(USER_ID,EMAIL,PW,NICKNAME,BRITHDAY)
		VALUES(USER_SEQ.NEXTVAL,#{email},#{pw},#{nickname},TO_DATE(#{birthday},'YYYY-MM-DD'))
	</insert>
	
	<insert id="join2" parameterType="km.model.MemberVO">
		INSERT INTO DOG_INFO(DOG_ID,DOG_NAME,DOG_AGE,DOG_BREED,USER_ID)
		VALUES(DOG_SEQ.NEXTVAL,#{dog_name},#{dog_age},#{dog_breed},USER_SEQ.CURRVAL)
	</insert>

	<select id="login" parameterType="km.model.MemberVO" resultType="km.model.MemberVO">
		select *
		from USER_INFO
		where email=#{email} and pw=#{pw}
	</select>
	
	<insert id="write" parameterType="km.model.PostVO">
		INSERT INTO POST(POST_ID,TITLE,POST_CONTENTS,POSTING_DATE,USER_ID,KATEGORY)
		VALUES(POST_SEQ.NEXTVAL,#{title},#{post_contents},sysdate,1,#{kategory,jdbcType=VARCHAR})
	</insert>
	
	<insert id="write2" parameterType="km.model.PostVO">
		INSERT INTO POST_IMG
		VALUES(IMG_SEQ.NEXTVAL,#{orgin_img_name},#{save_img_name},#{img_root ,jdbcType=VARCHAR},'157543(bytes)','JPG',SYSDATE,POST_SEQ.CURRVAL)
	</insert>
	
	<select id="post" parameterType="km.model.PostVO" resultType="km.model.PostVO">
        select *
        from POST
     </select>
	
	<select id="showmain" parameterType="km.model.PostVO" resultType="km.model.PostVO">
  		select *
  		from POST_IMG
  	</select>



</mapper>