@charset "EUC-KR";
div#enter {
    width: 360px;
    height: 700px;
    padding: 0px;
    background-color: rgba(249, 230, 191, 0.15);
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto;
}

form#mid {
    text-align: center;
}

.sangdan {
    height: 50px;
    background: rgba(243, 156, 18, 0.73);
    margin: 0;
    display: flex;
}

.aham {
    padding-right: 50px;
    font-weight: bold;
    font-size: 15px;
}

#ham {
    border: none;
    background-color: rgba(9, 9, 9, 0);
    float: left;
    display: flex;
    margin-top: 10px;
}

#withdogslogo {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    margin-right: 25px;
    margin-top: 10px;
    margin-left: -10px;
    display: flex;
}

#person {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    float: right;

}

.menu {
    cursor: pointer;
    list-style:none;
}

.menu .hide {
    display: none;
    font-size: 5px;
}

.hide {
    list-style: none;
    padding-left: 0px;
    text-align: left;
    list-style:none;
}

.hidelist {
    list-style: none;
    padding-left: 0px;
    list-style:none;
}

.hide .hidelist{
        font-size: medium;
        list-style:none;
}

.kateham {
    background-color: bisque;
    width: 350px;
    height: auto;
    position: absolute;
}

.aham{
    font-size: 25px;
}